<template name="footer">
    <!--<div class="ui small bottom fixed attached labeled fluid two icon menu">-->
        <!--<a class="item ">-->
            <!--<i class="purple arrow left icon"></i>-->
            <!--<span class="">Back</span>-->
        <!--</a>-->
        <!--</div>-->

    <a class="item">
        <div class="ui bottom attached yellow button">Request Ice Cream Truck</div>
    </a>

    <!--<div class="ui bottom attached menu fluid grid center headerTop">-->
<!--<div class="ui button blue fullWidth">Request Ice Cream Truck</div>-->
        <!--</div>-->
</template>